.popup__name {
    display: block;
    font-family: inherit;
    padding: 0;
    border: 0;
    max-width: 358px;
    height: 27px;
    box-sizing: border-box;
    border-bottom: 1px solid #bcbcc4;
    background-color: transparent;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin: 0px 36px 30px;
}

.popup__name:focus {outline-color:lightblue;}

@media (min-width: 320px) and (max-width:890px) {
    .popup__name {
        max-width: 238px;
        margin: 0px 22px 43px;
    }
}