.profile__info-addbutton {
    max-width: 150px;
    max-height: 50px;
    align-self: right;
}

.profile__info-addbutton:hover {
    opacity: 0.5;
    cursor: pointer;
}

@media (min-width: 320px) and (max-width:890px) {
    .profile__info-addbutton {
        max-width: 282px;
        max-height: 50px;
        align-self: none;
        margin-top: 36px;
    }
}


